{% extends '@STGTheme/Default/base.html.twig' %}
{# {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_widget(form) }}
{{ form_end(form) }} #}

{% block content %}
    {% for message in app.flashes('notice') %}
        <div class='flash-notice'>
            {{ message }}
        </div>
    {% endfor %}
    
    <div class="card bg-light mb-12">
        <h1>Listado de Formularios A</h1>
        
        <div class="card-body">
            <table class="table table-striped">

                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID de formulario</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">CUIT</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>

                <tbody>
                    {% for formulario in formularios %}
                        <tr>
                            <th scope="row">{{ formulario.id }}</th>
                            <td>{{ formulario.domicilio.empresa.razonSocial }}</td>
                            <td>{{ formulario.domicilio.empresa.cuit }}</td>
                            <td>
                                <button type="button" class="btn btn-primary" onclick="window.location.href = '{{ path('formulario_ver', {'id' : formulario.id }) }}'">Ver</button>
                                <button type="button" class="btn btn-primary" onclick="window.location.href = '{{ path('formulario_modificar', {'id' : formulario.id }) }}'">Modificar</button>
                                <button type="button" class="btn btn-primary" onclick="window.location.href = '{{ path('formulario_eliminar', {'id' : formulario.id }) }}'">Eliminar</button>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <th scope="row" colspan="5">No se encontraron resultados.</th>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <button type="button" class="btn btn-primary" onclick="window.location.href = '{{ path('formulario_nuevo') }}'">Nuevo</button>
                </div>
            </div>
        </div>
        
    </div>

    

{% endblock %}