{% extends '@STGTheme/Default/base.html.twig' %}
{# {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_widget(form) }}
{{ form_end(form) }} #}

{% block content %}

    
    <div class="card bg-light mb-12">
        <h1>Formulario A</h1>


        <div class="card-body">
                {{ form_start(formulario, {'attr': {'novalidate': 'novalidate'}}) }}
           
                <div class="form-row">
                    <div class="form-group col-md-12">
                        {{ form_label(formulario.resumenEjecutivo) }}
                        {{ form_widget(formulario.resumenEjecutivo, {'attr': {'class': form_errors(formulario.resumenEjecutivo) ? 'form-control is-invalid' : 'form-control'}}) }}
                        <div class="invalid-feedback">
                            {{ form_errors(formulario.resumenEjecutivo) }}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        {{ form_label(formulario.domicilio.calle) }}
                        {{ form_widget(formulario.domicilio.calle, {'attr': {'class': form_errors(formulario.domicilio.calle) ? 'form-control is-invalid' : 'form-control'}}) }}
                        <div class="invalid-feedback">
                            {{ form_errors(formulario.domicilio.calle) }}
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        {{ form_label(formulario.domicilio.numero) }}
                        {{ form_widget(formulario.domicilio.numero, {'attr': {'class': form_errors(formulario.domicilio.numero) ? 'form-control is-invalid' : 'form-control'}}) }}
                        <div class="invalid-feedback">
                            {{ form_errors(formulario.domicilio.numero) }}
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        {{ form_label(formulario.domicilio.piso) }}
                        {{ form_widget(formulario.domicilio.piso, {'attr': {'class': form_errors(formulario.domicilio.piso) ? 'form-control is-invalid' : 'form-control'}}) }}
                        <div class="invalid-feedback">
                            {{ form_errors(formulario.domicilio.piso) }}
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        {{ form_label(formulario.domicilio.dpto) }}
                        {{ form_widget(formulario.domicilio.dpto, {'attr': {'class': form_errors(formulario.domicilio.dpto) ? 'form-control is-invalid' : 'form-control'}}) }}
                        <div class="invalid-feedback">
                            {{ form_errors(formulario.domicilio.dpto) }}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form_label(formulario.domicilio.telefono) }}
                        {{ form_widget(formulario.domicilio.telefono, {'attr': {'class': form_errors(formulario.domicilio.telefono) ? 'form-control is-invalid' : 'form-control'}}) }}
                        <div class="invalid-feedback">
                            {{ form_errors(formulario.domicilio.telefono) }}
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        {{ form_label(formulario.domicilio.email) }}
                        {{ form_widget(formulario.domicilio.email, {'attr': {'class': form_errors(formulario.domicilio.email) ? 'form-control is-invalid' : 'form-control'}}) }}
                        <div class="invalid-feedback">
                            {{ form_errors(formulario.domicilio.email) }}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div>
                        {{ form_widget(formulario.save) }}
                    </div>
                </div>
                {{form_end(formulario)}}
        </div>
    </div>
{% endblock %}