{% extends '@STGTheme/Default/base.html.twig' %}
{# {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_widget(form) }}
{{ form_end(form) }} #}

{% block content %}

    
    <div class="card bg-light mb-12">
        <h1>Formulario A</h1>


        <div class="card-body">
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
           
                <div class="form-row">
                    <div class="form-group col-md-12">
                        {{ form_label(form.resumenEjecutivo) }}
                        {{ form_widget(form.resumenEjecutivo, {'attr': {'class': form_errors(form.resumenEjecutivo) ? 'form-control is-invalid' : 'form-control'}}) }}
                        <div class="invalid-feedback">
                            {{ form_errors(form.resumenEjecutivo) }}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form_label(form.domicilio.tipo) }}
                        {{ form_widget(form.domicilio.tipo, {'attr': {'class': form_errors(form.domicilio.tipo) ? 'form-control is-invalid' : 'form-control'}}) }}
                        <div class="invalid-feedback">
                            {{ form_errors(form.domicilio.tipo) }}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        {{ form_label(form.domicilio.calle) }}
                        {{ form_widget(form.domicilio.calle, {'attr': {'class': form_errors(form.domicilio.calle) ? 'form-control is-invalid' : 'form-control'}}) }}
                        <div class="invalid-feedback">
                            {{ form_errors(form.domicilio.calle) }}
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        {{ form_label(form.domicilio.numero) }}
                        {{ form_widget(form.domicilio.numero, {'attr': {'class': form_errors(form.domicilio.numero) ? 'form-control is-invalid' : 'form-control'}}) }}
                        <div class="invalid-feedback">
                            {{ form_errors(form.domicilio.numero) }}
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        {{ form_label(form.domicilio.piso) }}
                        {{ form_widget(form.domicilio.piso, {'attr': {'class': form_errors(form.domicilio.piso) ? 'form-control is-invalid' : 'form-control'}}) }}
                        <div class="invalid-feedback">
                            {{ form_errors(form.domicilio.piso) }}
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        {{ form_label(form.domicilio.depto) }}
                        {{ form_widget(form.domicilio.depto, {'attr': {'class': form_errors(form.domicilio.depto) ? 'form-control is-invalid' : 'form-control'}}) }}
                        <div class="invalid-feedback">
                            {{ form_errors(form.domicilio.depto) }}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form_label(form.domicilio.telefono) }}
                        {{ form_widget(form.domicilio.telefono, {'attr': {'class': form_errors(form.domicilio.telefono) ? 'form-control is-invalid' : 'form-control'}}) }}
                        <div class="invalid-feedback">
                            {{ form_errors(form.domicilio.telefono) }}
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        {{ form_label(form.domicilio.email) }}
                        {{ form_widget(form.domicilio.email, {'attr': {'class': form_errors(form.domicilio.email) ? 'form-control is-invalid' : 'form-control'}}) }}
                        <div class="invalid-feedback">
                            {{ form_errors(form.domicilio.email) }}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form_label(form.domicilio.zonificacion) }}
                        {{ form_widget(form.domicilio.zonificacion, {'attr': {'class': form_errors(form.domicilio.zonificacion) ? 'form-control is-invalid' : 'form-control'}}) }}
                        <div class="invalid-feedback">
                            {{ form_errors(form.domicilio.zonificacion) }}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div>
                        {#{{ form_widget(form.save) }}#}
                        <button type="button" class="btn btn-primary" onclick={{ form_widget(form.save) }}</button>
                    </div>
                    <div>&nbsp;</div>{# Espacio en blanco p/separar botones #}
                    <div>
                        <button type="button" class="btn btn-primary" onclick="window.location.href = '{{ path('listar_formularios') }}'">Volver</button>
                    </div>
                </div>
                {{form_end(form)}}
        </div>
    </div>
{% endblock %}